
.home-container {
    width: calc(100vw - 15vw);
    min-width: calc(100vw - 200px);
    max-width: calc(100vw - 400px);
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-height: 600px;
    max-height: 900px;
    width: 100%;
    max-width: 20vw; 
    min-width: 200px;
    min-width: 400px;
}
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    min-height: 700px;
    max-height: 1000px;
    width: 100%; 
    max-width: 40vw;
    min-width: 300px; 
    margin: 10px;
}

.feed-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 10vh;
    width: 100%; 
    max-width: 40vw;
    min-width: 300px; 
    min-height: 130px;
    max-height: 200px;
    padding: 1vh;
}
.feed-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    width: 100%; 
    max-width: 40vw;
    min-width: 300px; 
    min-height: 470px;
    max-height: 800px;
    overflow: auto;
}
.post-card {
    width: 40vw;
    height: 10vh;
    min-height: 130px;
    min-width: 800px;
    border-radius: 0%;
}
.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
    max-width: 40vw;
    min-width: 300px; 
    
}

.charCountText {
    color: #808080;
    font-size: small;
    font-weight: 500;
}

