@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: calc(100vh - 64px);
    width: 100vw;
    min-width: 100%;
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50vw;  
    max-width: 800px; 
    padding: 2rem;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    border-radius: 0.5rem; 
}

.signup-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;  
    max-width: 400px;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    width: 100%;  
    max-width: 400px;  
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

.header-text {
    font-size: xx-large;
    font-weight: bolder;
}
