.userpage-container {
    width: 100%;
    min-width: calc(100vw - 200px);
    max-width: calc(100vw - 400px);
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.usertop-container {
    width: 100%;
    min-width: 100%;
    height: 20%;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid  #c0d6e8;
    padding: 2vw;
}
.username-text {
    font-weight: bold;
    font-size: 3rem;
}
.message-button {
    background-color: #4CAF50;
    width: 3vw;
    min-width: 100px;
    max-width: 3vw;
    margin: 1vw;
}

.usercontent-container {
    width: 100%;
    min-width: 100%;
    height: 80%;
    min-height: 80vh;
}