{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="webtitle center-horizontal">About Us</h1>
    <div id="peopleCarousel" class="carousel slide">
        <div class="carousel-inner">
            {% for person in people %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/' ~ person.image_filen) }}" class="card-img-top" alt="{{ person.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ person.name }}</h5>
                        <p class="card-text">
                            {% for sentence in person.desc.split('\n') %}
                            <div>{{sentence}}</div>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#peopleCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#peopleCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}