.logsign-container {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30vw;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50vw;  
    max-width: 600px; 
    padding: 2rem;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    border-radius: 0.5rem; 
}

.signup-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    min-width: 400px;  
    max-width: 600px;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    width: 100%;  
    max-width: 400px;  
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}

.header-text {
    font-size: xx-large;
    font-weight: bolder;
}
