.profile-container {
    display: flex;
    flex: 1;
    margin: 0; 
    padding: 0; 
    width: 100vw;
}

.navbar-fill {
    width: 15vw; 
    min-width: 200px;
    max-width: 400px;
    height: 100vh;
}

.profile-page {
    flex-flow: column;
    flex-grow: 1;
    display: flex;
}

.profile-head {
    object-fit: fill;
    flex-flow: row;
    flex: auto;
    display: flex;
    background-color: rgb(210, 235, 255);
    border-bottom: 2px solid #c0d6e8;
    padding: 2%;
    padding-bottom: 2%;
    max-height: 25%;
    min-height: 13rem;
}

.pfp {
    align-content: center;
    text-align: center;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    overflow: clip;
    border: 2px solid #000000;
}

.profile-picture {
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    overflow: clip;
    border: 2px solid #ddd;
}

.info {
    display: block;
    flex: 1;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

.info1 {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    margin-right: 0px;
    margin-left: 0px;
}

.info-text {
    width: 25%;
    text-align: center;
}

.bio {
    font-size: medium;
    text-align: left;
    margin-top: 3%;
}

.posts {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.profile-card {
    min-width: 100%;
    min-height: 25%
}

.profile-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    border-radius: 0.5rem;
    padding: 2rem;
    width: 25vw;
    min-width: 400px;
    min-height: 200px;
    box-sizing: border-box; 
}

.profile-info {
    display: flex;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: large;
}

.row {
    display: grid;
    grid-column-gap: 20%;
    grid-row-gap: 20%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 50px;
    justify-content: center;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-header {
    position: absolute;
    top: 20px;  
    left: 20px;  
    font-size: xx-large;
    font-weight: bolder;
}
.settings-button {
    background-color: #d3d3d3;  
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;  
}
.logout-button, .placeholder-button {
    margin-top: 1rem;
    background-color: #d3d3d3;  
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;  
}

.logout-button:hover, .placeholder-button:hover {
    background-color: #a9a9a9; 
}

.placeholder-button {
    margin-top: 0.5rem;
}
